import axios from "axios"

class {
  onCreate() {
    sharedState.bind(this, ['products'])
  }
}

<app-layout>
  <div>
    <if(state.products)>
      <div.products>
        <for|product| of=state.products>
          <productCard ...product />
        </for>  
      </div>
    </if>
    <else>
      <h1.text-muted>No products found</h1>
    </else>
  </div>
</app-layout>
  
